<nav id="navbar" class="fixed shadow-md top-0 left-0 z-40 w-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="px-3 py-4 overflow-y-auto bg-gray-950">
        <div class="flex justify-between space-y-2 font-medium">
            <div class="flex justify-center">
                <a [routerLink]="['/']" class="flex justify-center items-center p-2 text-slate-200 rounded-lg hover:text-white transition duration-200 group">
                    <span class="ms-3">Home</span>
                </a>
                <a [routerLink]="['/beers']" class="flex justify-center items-center p-2 text-slate-200 rounded-lg hover:text-white transition duration-200 group">
                    <span class="flex-1 ms-3 whitespace-nowrap">Beers</span>
                </a>
            </div>
            <div>
                <a [routerLink]="['/login']" class="p-2 bg-green-800 hover:bg-green-700 text-slate-200 rounded-lg hover:text-white transition duration-200">
                    <span class="flex-1 ms-3 me-3 whitespace-nowrap">Login</span>
                </a>
            </div>
        </div>
    </div>
</nav>
