<div class="flex items-center justify-center min-h-screen bg-green-700">
  <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-lg shadow-md">
    <h1 class="text-4xl font-bold text-center">Connexion</h1>
    <form class="space-y-4">
      <div class="space-y-2">
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input type="email" id="email" name="email" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200">
      </div>
      <div class="space-y-2">
        <label for="password" class="block text-sm font-medium text-gray-700">Mot de passe</label>
        <input type="password" id="password" name="password" required class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-green-200">
      </div>
      <button type="submit" class="w-full px-4 py-2 font-medium text-white bg-green-800 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-200">Se connecter</button>
    </form>
    <span class="">Doesn't have an account ?<a [routerLink]="['/register']" class="text-green-800 ms-1">Register</a></span>
  </div>
</div>